
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #f5e61d;
    color: #000; 
    padding: 40px 20px;
}

header p {
    font-weight: 800; /* Puedes ajustar este valor según tu preferencia (700 para letras más gruesas) */
    font-size: 30px; /* Puedes ajustar este valor según tu preferencia (20px para letras más grandes) */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 800; /* Puedes ajustar este valor según tu preferencia (700 para letras más gruesas) */
    font-size: 20px; /* Puedes ajustar este valor según tu preferencia (20px para letras más grandes) */
    transition: color 0.3s ease;
    
}
nav a:hover {
    color: #ffffffd8; /* Cambia el color al pasar el ratón sobre los enlaces */
}

.main-content {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    height: 100vh; /* Ocupa el 100% de la altura visible de la ventana */
}

.logo-img {
    width: 1700px; /* Ajusta el ancho de la imagen según tus necesidades */
    height:800px;
}

/*inicio del banner*/
section {
    position: relative;
}

.banner {
    background-color: #fff;
    padding: 20px;
    position: absolute;
    top: -800px;
    left: 600;
    color: #000;
    border-radius: 10px; /* Ajusta el radio de los bordes */
    margin-left: 20px;
    margin-top: 30px;
}

.banner_content h3 {
    font-weight: bold;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

footer {
    background-color: #f5e61d;
    color: #fff;
    padding: 10px 20px;
    text-align: right;
    padding: 60px 20px;
}

.footer-text {
    margin: 0;
    text-decoration: none;
    color: #000000;
    font-weight: 800; /* Puedes ajustar este valor según tu preferencia (700 para letras más gruesas) */
    font-size: 20px; /* Puedes ajustar este valor según tu preferencia (20px para letras más grandes) */
}

